
.moneda{
	transform-origin: 50% 50% 0px;
}

.moneda-item{
	width: 200px;
	height: 200px;
	position: absolute;
	transition: transform 5s;
	transform-origin: 50% 50% -5px;
	text-align:center;
}

.cara{
	background: yellow;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
}

.back{
	background: black;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
}

.inside{
	display: flex;
	justify-content: center;
	align-items: center;
}

.insidebox{
	width: 200px;
	height: 10px;
	background: black;
}